{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-8">
        <h2 class="mb-4 fw-bold">My Projects</h2>
        <div id="project-form-container">
            {% include "tasks/project_form_partial.html" %}
        </div>

        <div id="project-list" class="list-group mt-4">
            {% for project in projects %}
                {% include "tasks/project_element.html" %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
