{% extends "base.html" %}

{% block content %}
<div class="container mt-5 py-5">
    <div class="project-container mx-auto" style="max-width: 800px; background: white;">
        
        <div id="project-header-container">
            {% include "tasks/project_header_partial.html" %}
        </div>

        <div class="task-create-area">
            <form hx-post="{% url 'tasks:task-create' project.id %}" 
                hx-target="#task-list" 
                hx-swap="afterbegin" 
                _="on htmx:afterRequest reset() me then if #empty-state remove #empty-state end">
                {% csrf_token %}
                <div class="d-flex align-items-center">
                    <i class="bi bi-plus-lg text-success fw-bold fs-3 px-2"></i>
                    <div class="flex-grow-1 mx-2">
                        <input type="text" name="name" class="form-control border-secondary shadow-none" 
                            placeholder="Start typing here to create a task..." required>
                    </div>
                    <button type="submit" class="btn btn-add-task px-4">Add Task</button>
                </div>
            </form>
        </div>

        <div id="task-list" 
            class="bg-white"
            hx-post="{% url 'tasks:task-reorder' %}" 
            hx-trigger="end" 
            hx-swap="none"
            hx-include="[name='task']" 
            _="on load js(me) Sortable.create(me, {
                    handle: '.drag-handle', 
                    animation: 150, 
                    onEnd: () => { me.dispatchEvent(new Event('end')) }
                }) end">
            
            {% for task in tasks %}
                {% include "tasks/task_element.html" %}
            {% endfor %}
        </div>
        
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'tasks:project-list' %}" class="btn btn-primary px-5 py-2 shadow-sm border-1 border-light">
             <i class="bi bi-arrow-left me-2"></i> Back to Projects
        </a>
    </div>
</div>

{% endblock %}
