{% extends "base.html" %}

{% block content %}
<div class="container mt-5 py-5">
    <div class="project-container mx-auto" style="max-width: 850px; background: white;">

        <div class="project-header d-flex align-items-center">
            <i class="bi bi-list-stars me-2 fs-4"></i>
            <h4 class="mb-0 fw-bold text-uppercase" style="letter-spacing: 1px;">My projects</h4>
        </div>

        <div class="task-create-area">
            <div id="project-form-container">
                {% include "tasks/project_form_partial.html" %}
            </div>
        </div>

        <div id="project-list" class="bg-white">
            {% for project in projects %}
                {% include "tasks/project_element.html" %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
