<div id="project-header-container" class="project-header d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
        <i class="bi bi-journal-text me-2 fs-4"></i>
        <h5 class="mb-0 fw-bold">{{ project.name }}</h5>
    </div>
    <div class="btn-group">
        <button hx-get="{% url 'tasks:project-edit' project.id %}" hx-target="#project-header-container" hx-swap="outerHTML" class="btn btn-link text-white p-1">
            <i class="bi bi-pencil-fill"></i>
        </button>
        <form action="{% url 'tasks:project-delete' project.id %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-link text-white p-1" onclick="return confirm('Delete project?')">
                <i class="bi bi-trash-fill"></i>
            </button>
        </form>
    </div>
</div>
