{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'tasks:project-list' %}">Projects</a></li>
            <li class="breadcrumb-item active">{{ project.name }}</li>
        </ol>
    </nav>

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="fw-bold">{{ project.name }}</h1>
        <span class="badge bg-primary fs-4">Project Details</span>
    </div>
    
    <div class="card shadow-sm p-5 text-center">
        <div class="card-body">
            <form hx-post="{% url 'tasks:task-create' project.id %}" 
                hx-target="#task-list" 
                hx-swap="afterbegin" 
                _="on htmx:afterRequest reset() me then remove #empty-state">
                {% csrf_token %}
                <div class="row g-2">
                    <div class="col-md-6">{{ task_form.name }}</div>
                    <div class="col-md-3">{{ task_form.deadline }}</div>
                    <div class="col-md-2">{{ task_form.priority }}</div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-primary w-100"><i class="bi bi-plus-lg"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="task-list" class="list-group shadow-sm"
        hx-post="{% url 'tasks:task-reorder' %}" 
        hx-trigger="end" 
        hx-target="end"
        _="on load js Sortable.create(me, {handle: '.drag-handle', animation: 150}) end">
        {% for task in tasks %}
            {% include "tasks/task_element.html" %}
        {% empty %}
            <div id="empty-state" class="text-center py-5 bg-white rounded">
                <p class="text-muted text-center py-4">No tasks yet. Add first task</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
