<div id="task-{{ task.id }}" class="task-row d-flex align-items-center">
    <input type="hidden" name="task" value="{{ task.id }}">

    
    <input class="form-check-input me-3 shadow-none" type="checkbox" 
           hx-post="{% url 'tasks:task-toggle' task.id %}" 
           hx-target="#task-{{ task.id }}" 
           hx-swap="outerHTML"
           {% if task.is_done %}checked{% endif %}>
    
    <div class="flex-grow-1 border-start ps-3 py-1">
        <span class="{% if task.is_done %}text-decoration-line-through text-muted{% endif %}">
            {{ task.name }}
        </span>
    </div>

    <div class="task-actions d-flex align-items-center border-start ps-2">
        <i class="bi bi-chevron-bar-contract text-muted me-2 drag-handle" style="cursor: move;"></i>
        <button hx-get="{% url 'tasks:task-edit' task.id %}" 
                hx-target="#task-{{ task.id }}" 
                hx-swap="outerHTML" 
                class="btn btn-link p-0 text-muted mx-2">
            <i class="bi bi-pencil-fill"></i>
        </button>
        
        <button hx-delete="{% url 'tasks:task-delete' task.id %}" 
                hx-target="#task-{{ task.id }}" 
                hx-swap="delete" 
                hx-confirm="Delete task?"
                class="btn btn-link p-0 text-muted">
            <i class="bi bi-trash-fill"></i>
        </button>
    </div>
</div>
