<div id="task-{{ task.id }}" class="task-row d-flex align-items-center bg-light p-2 border-primary border-start border-0">
    <form hx-post="{% url 'tasks:task-edit' task.id %}" 
          hx-target="#task-{{ task.id }}" 
          hx-swap="outerHTML" 
          class="d-flex align-items-center w-100">
        {% csrf_token %}
        <input type="text" name="name" value="{{ task.name }}" 
               class="form-control form-control-sm me-2 shadow-none" required>

        <div class="btn-group btn-group-sm">
            <button type="submit" class="btn btn-success"><i class="bi bi-check-lg"></i></button>
            <button hx-get="{% url 'tasks:task-toggle' task.id %}" 
                    hx-target="#task-{{ task.id }}" 
                    hx-swap="outerHTML" 
                    type="button" class="btn btn-outline-secondary"><i class="bi bi-x-lg"></i></button>
        </div>
    </form>
</div>
